* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: black;
}

nav a {
    color: black;
    text-decoration: none;
    display: block;
}

nav li a:hover {
    background-color: black;
    color: white;
}


nav ul li {
    background-color: #f6fbf4;
    margin: 0.1rem;
    padding: 0.5rem;
    border: solid black 0.1rem;
    /* transform: skew(-8deg); */
    /* flex-grow: 1; */
    text-align: center;
}

nav {
    font-size: 1.5rem;
    padding: 0.2rem;
    font-family: "Stalinist One", cursive;
}

nav ul {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    flex-direction: column;
    /* on mobile devices first display the extended menu, then
      there will be a close button to set flex direction to
      column and then hide the menus, also converting the close button
      to a hamburger menu.
      */
}

#welcome {
    color: #f6fbf4;
    padding: 2rem;
    margin: 0.5rem;
    font-size: 6vh;
    font-family: "Barlow", cursive;
}

.title {
    font-family: "Stalinist One", cursive;
    font-size: 1.5rem;
    width: fit-content;
    margin: auto;
    border: solid black 0.1rem;
    border-top: none;
    padding: 0.5rem;
    background-color: #f6fbf4;
}

#blog {
    font-family: "Barlow", cursive;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;

    flex-flow: column;
    margin: auto;
    padding-top: 0;
}

.readmore {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.blog-section {
    border: dotted black 0.1rem;
    padding: 1rem;
    background-color: #f6fbf4;

    margin: 0.5rem;

    /* margin: 0.5rem; */
}

.dotted-underline {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-decoration-style: dotted;
}

#footer {
    color: #f6fbf4;
    display: flex;
    flex-flow: column;
    font-family: "Barlow", cursive;
    height: 30vh;
}

#footer-left,
#footer-right {
    width: fit-content;
    margin: auto;
    text-align: center;
}

#first-blog {
    font-size: 1.5rem;
}

/*NOTE: space is required b/w 'and' & '(' in the line below */
@media only screen and (min-width: 700px) {
    nav {
        padding: 0;
        border-bottom: solid black 1px;
        height: 40vh;
    }

    nav ul {
        justify-content:left;
        flex-direction: row;
    }

    nav ul li {
        margin: 0rem;
        padding: 0.8rem;
        border: none;
        border-left: solid black 1px;
        flex-grow: 0;
    }

    nav ul li:last-child {
        border-right: solid black 1px;
    }

    #welcome {
        width: fit-content;
        margin: auto;
        font-size: 7vh;
    }

    #blog {
        /* padding: 10rem; */
        width: 80vw;
    }

    #footer {
        flex-flow: row;
        justify-content: space-between;
        height: 50vh;
    }

    .title {
        transform: skew(-8deg);

    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888888;
}

#recentArticle {
    position: fixed;
    background-color: #f6fbf4;
    border: dotted black 0.1rem;
    border-left: solid black 3rem;
    padding: 1rem;
    top: 1rem;
    right: 1rem;
}

#recentArticle a {
    color: black;
    text-decoration: underline;
    display: block;
}
#recentArticle a:hover{
    cursor: pointer;
}

.focusAnimation{
    transform: translateY(1rem);
    transition: transform 1s ease;
}
